<form [formGroup]="form" (ngSubmit)="editUser()">
  <div class="p-5">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>FirstName</mat-label>
      <input matInput formControlName="firstName" placeholder="First name" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" placeholder="Last name" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Role</mat-label>
      <mat-select formControlName="roleId">
        <mat-option
          *ngFor="let role of constsService.roles"
          [value]="role.value"
        >
          {{ role.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      class="w-full"
      color="primary"
      [disabled]="form.invalid"
    >
      Zapisz
    </button>
  </div>
</form>
