<div class="flex items-center justify-between p-4 bg-black text-white">
  <div>Library</div>

  <div class="flex items-center gap-8">
    <div
      *ngIf="role === 'LIBRARIAN' || role === 'READER'"
      class="cursor-pointer"
      [routerLink]="role === 'READER' ? '/user/books' : '/admin/books'"
    >
      Książki
    </div>
    <div class="cursor-pointer" *ngIf="role === 'READER'">Rezerwacje</div>
    <div
      class="cursor-pointer"
      *ngIf="role === 'ADMIN'"
      routerLink="/admin/users"
    >
      Użytkownicy
    </div>
  </div>

  <div class="flex items-center gap-2">
    <div>
      {{
        role === "READER"
          ? "Czytelnik"
          : role === "ADMIN"
          ? "Administrator"
          : "Pracownik"
      }}
    </div>

    <div class="relative">
      <div
        (click)="togglePopover()"
        class="rounded-full w-10 h-10 bg-grey-100 cursor-pointer relative"
      ></div>

      <div
        [ngClass]="{
        '!block': popoverOpen,
      }"
        class="hidden bg-grey-300 p-2 w-[230px] absolute top-[120%] right-0 rounded-lg"
      >
        <div
          (click)="logout()"
          class="flex items-center gap-2 hover:bg-grey-500 hover:text-main font-medium rounded-lg cursor-pointer p-2"
        >
          <div class="pt-1">Sign out</div>
        </div>
      </div>
    </div>
  </div>
</div>
