<div class="text-2xl font-medium mb-10">Dodaj Autora</div>

<form [formGroup]="form" (ngSubmit)="addAuthor()">
  <div class="grid grid-cols-2 gap-5 mb-5">
    <mat-form-field class="w-full">
      <mat-label>FirstName</mat-label>
      <input matInput formControlName="firstName" placeholder="FirstName" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>LastName</mat-label>
      <input matInput formControlName="lastName" placeholder="LastName" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Year Of Birth</mat-label>
      <input
        matInput
        formControlName="yearOfBirth"
        placeholder="Year Of Birth"
      />
    </mat-form-field>
  </div>
  <!-- <app-button>Dodaj</app-button> -->

  <button
    mat-raised-button
    class="w-full"
    [disabled]="form.invalid"
    color="primary"
  >
    Dodaj autora
  </button>
</form>
