<section class="footer bg-[#313652] text-white" id="footer">
  <div
    class="max-w-5xl px-5 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-lg py-[40px]"
  >
    <div>
      <p class="mb-5 font-semibold">O nas</p>
      <p>
        Nasza biblioteka to miejsce, w którym przechowuje się i udostępnia
        zasoby informacyjne w postaci książek
      </p>
    </div>
    <div class="ml-5">
      <p class="mb-5 font-semibold">Kontakt</p>
      <div class="flex flex-col gap-2">
        <div>+48 123456789</div>
        <div>www.biblioteka.pl</div>
        <div>Kielce, Ul. Sezamkowa 2</div>
      </div>
    </div>
    <div>
      <p class="mb-5 font-semibold">Media społecznościowe</p>
      <div class="flex flex-col gap-2">
        <div class="cursor-pointer flex items-center gap-1">
          <div>Facebook</div>
          <app-icon name="facebook"></app-icon>
        </div>
        <div class="cursor-pointer flex items-center gap-1">
          <div>Instagram</div>
          <app-icon name="instagram"></app-icon>
        </div>
        <div class="cursor-pointer flex items-center gap-1">
          <div>Twitter</div>
          <app-icon name="twitter"></app-icon>
        </div>
      </div>
    </div>
  </div>
</section>
