<h1 class="mb-10">Users</h1>

<div class="flex flex-col gap-5">
  <div class="flex justify-between p-5">
    <div class="flex items-center gap-16">
      <div class="w-[60px] h-[70px] border border-dark"></div>
      <div class="flex flex-col gap-2.5">
        <p>Imie</p>
        <p>John</p>
      </div>
      <div class="flex flex-col gap-2.5">
        <p>Nazwisko</p>
        <p>Xyz</p>
      </div>
      <div class="flex flex-col gap-2.5">
        <p>Email</p>
        <p>abcd@gmail.com</p>
      </div>
    </div>
    <div class="flex itesm-center gap-2">
      <app-button>Edytuj</app-button>
      <app-button>Usuń</app-button>
    </div>
  </div>
</div>
