<div class="flex justify-between py-5 px-8 bg-grey-100 rounded-xl">
  <div class="flex-1">
    <div class="flex items-center gap-16">
      <!-- <div class="w-[60px] h-[70px] border border-dark"></div> -->
      <div class="flex flex-col gap-4 w-[20%]">
        <div class="font-medium">Imię</div>
        <div>{{ user.firstName }}</div>
      </div>
      <div class="flex flex-col gap-4 w-[20%]">
        <div class="font-medium">Nazwisko</div>
        <div>{{ user.lastName }}</div>
      </div>
      <div class="flex flex-col gap-4 w-[20%]">
        <div class="font-medium">Email</div>
        <div>{{ user.email }}</div>
      </div>
    </div>
  </div>

  <div class="flex itesm-center gap-5">
    <!-- <app-button (click)="edit.emit()">Edytuj</app-button> -->
    <button
      (click)="edit.emit()"
      mat-raised-button
      color="primary"
      class="!h-full"
    >
      Edytuj
    </button>
    <button
      (click)="remove.emit()"
      mat-raised-button
      color="warn"
      class="!h-full"
    >
      Usuń
    </button>
    <!-- <app-button (click)="remove.emit()" variant="red">Usuń</app-button> -->
  </div>
</div>
