@use "node_modules/@ngneat/hot-toast/src/styles/styles.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@angular/cdk/overlay-prebuilt.css";
// @import "~@angular/cdk/overlay-prebuilt.css";

html,
body {
  height: 100%;
  background-color: #ffffff;
}

body {
  margin: 0;
  font-family: "Jones", Roboto, "Helvetica Neue", sans-serif;
  color: #2f2f2f;
}
