<div
  class="flex items-center justify-between gap-10 p-5 bg-grey-100 rounded-xl"
>
  <div class="flex-1">
    <div class="flex items-center gap-5">
      <!-- <div class="w-[60px] h-[70px] border border-dark"></div> -->
      <div class="flex flex-col gap-2.5 w-[20%]">
        <p class="font-medium">Tytuł książki</p>
        <p>{{ borrow.bookTitle }}</p>
      </div>
      <div class="flex flex-col gap-2.5 w-[15%]">
        <p class="font-medium">Data wypożyczenia</p>
        <p>{{ borrow.borrowDate }}</p>
      </div>
      <div class="flex flex-col gap-2.5 w-[15%]">
        <p class="font-medium">Data oddania</p>
        <p>{{ borrow.returnDate ? borrow.returnDate : "-" }}</p>
      </div>
      <div class="flex flex-col gap-2.5 w-[15%]">
        <p class="font-medium">Status wypożyczenia</p>
        <p>{{ borrow.borrowStatusName }}</p>
      </div>
      <!-- status egzemplarza ?  -->
      <!-- <div class="flex flex-col gap-2.5 w-[10%]">
        <p class="font-medium">Status egzemplarza</p>
        <p>{{ borrow.copyStatusName }}</p>
      </div> -->
      <div class="flex flex-col gap-2.5 w-[15%]">
        <p class="font-medium">Czytelnik</p>
        <p>{{ borrow.userFirstName }} {{ borrow.userLastName }}</p>
      </div>
      <div class="flex flex-col gap-2.5 w-[10%]">
        <p class="font-medium">Kara</p>
        <p>{{ borrow.penalty }} zł</p>
      </div>
    </div>
  </div>

  <div *ngIf="role === 'LIBRARIAN'">
    <button
      mat-raised-button
      class="w-[80px]"
      color="primary"
      (click)="edit.emit()"
    >
      Edytuj
    </button>
  </div>
</div>
