<div class="flex items-center justify-between p-5 bg-grey-100 rounded-xl">
  <div class="flex justify-between items-center gap-16">
    <div class="flex flex-col gap-2.5 !w-[34%]">
      <p class="font-medium">Title</p>
      <p>{{ book.title }}</p>
    </div>
    <div class="flex flex-col gap-2.5 !w-[20%]">
      <p class="font-medium">Author</p>
      <p>{{ book.authorFirstName }} {{ book.authorLastName }}</p>
    </div>
    <div class="flex flex-col gap-2.5 !w-[16%]">
      <p class="font-medium">Wydawnictwo</p>
      <p>{{ book.publisherName }}</p>
    </div>
    <div class="flex flex-col gap-2.5 !w-[10%]">
      <p class="font-medium">Rok wydania</p>
      <p>{{ book.releaseYear }}</p>
    </div>
  </div>

  <ng-container *ngIf="role === 'READER'">
    <button
      *ngIf="book.numberOfCopies; else noCopies"
      mat-raised-button
      class="w-[200px]"
      color="primary"
      (click)="bookClicked.emit()"
    >
      Rezerwuj
    </button>

    <ng-template #noCopies>
      <div class="text-base font-medium">Brak egzemplarzy</div>
    </ng-template>
  </ng-container>
</div>
